@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KodeMono';
    src: url("public/KodeMono-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}


html,
body {
    background-color: rgb(31 41 55);
}